<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ejemplo Ionic Firebase Recuperar Passowrd</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-item lines="none">
      <p>Por favor indica el email para enviar las instrucciones para resetear la contraseña.</p>
    </ion-item>
    <form>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            color="warning"
            [routerLink]="['/login']"
            >
              Ya tengo usuario
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            type="submit"
            (click)="authService.PasswordRecover(email.value)"
            expand="block"
          >
            Enviar Email Reset Contraseña
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>