<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Email Verificacion Enviado</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Email Verificacion Enviado</h2>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Por favor, revisa tu email y haz click en el enlace recibido para verificar el email y poder acceder.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
          Volver a enviar Email de Verificacion
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>