<ion-header>
  <ion-toolbar>
    <ion-title> Ejemplo Autenticado con Ionic y Firebase Authentication </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;"><ion-icon name="body-outline" style="font-size: 256px;"></ion-icon></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Registrate</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Haz login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>